body,
html {
  height: 100%;
  margin: 0;
}

.trans {
  transition-timing-function: linear;
  transition-delay: 1s;
  transition-duration: 2s;
}

.img-full {
  /* The image used */
  background-image: url(../../images/valiant_bgd2.jpg);

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-full-battle {
  /* The image used */
  background-image: url(../../images/White-Paper-Texture.jpg);

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-full-surprise {
  /* The image used */
  background-image: url(../../images/White-Paper-Texture.jpg);

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-full-rapid {
  /* The image used */
  background-image: url(../../images/White-Paper-Texture.jpg);

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-full-rebuild {
  /* The image used */
  background-image: url(../../images/White-Paper-Texture.jpg);

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar_bgd {
  background-image: url(../../images/navbar_bgd.jpg);
}
.full-h {
  height: 80vh;
}
.card-height {
  height: 60%;
  min-height: 400px;
}
.card-open-height {
  /* height: 70%; */
  min-height: 400px;
}
.card1_color {
  background-color: #413b45;
}
.card2_color {
  background-color: #1f1f1f;
}
.card3_color {
  background-color: #5c83ac;
}
.card4_color {
  background-color: #cacccb;
}
.card1_b_color {
  background-color: #605866;
}
.card2_b_color {
  background-color: #535353;
}
.card3_b_color {
  background-color: #709dcc;
}
.card4_b_color {
  background-color: #9da3a1;
}
.subtitle_color {
  color: #cfcfcf;
}
.font_size {
  font-size: 20px;
}
.font_size_24 {
  font-size: 24px;
}
.font_size_18 {
  font-size: 18px;
}
.font_size_48 {
  font-size: 48px;
}
.scroll_auto {
  overflow: auto;
}
.border_buttons{
  border: 3px solid #101010;
  background-color:#dddddd00;
}